extends ../layouts/base.pug

block title 
    title #{title}

block styles
    link(rel="stylesheet", href="css/account.css")

block main-body
    .nav
        h5 #{user_name}
        div
            a(href="/auth/logout") Logout

    .header
        h1 Personal Fintect
        input(type="text" placeholder="Search for current expenses" id="search") 
    .main
        each ex,index in expenses
            .expense
                p.id.hide-display #{index}
                p $#{ex.total}
                p.title #{ex.title}
                a(href=`/account/delete/${index}`).button Delete

    .add
        form(action="/account/add", method="POST")
            input(type="text" placeholder="Title" required name="title")
            input(type="number" placeholder="Total Amount" required name="cost")
            input(type="number" placeholder="Tax.." name="tax")
            input(type="text" id="" placeholder="Description" name="description")
            button(type="submit") ADD
    
    script(src="script/account.js") 